<h1 style="text-align:center;color:white;background-color:red">Book Review System</h1>
<img src="https://images.unsplash.com/photo-1456513080510-7bf3a84b82f8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1973&q=80" class="position-absolute start-50 top-25 border border-dark border-5" style="width:40rem" >

<div class="card" style="width: 18rem; background-color: #E9DEDE;">
  <img src="https://media.istockphoto.com/id/1351601106/photo/tourist-reading-a-book-sitting-in-front-of-the-river.jpg?s=612x612&w=is&k=20&c=Oa7-0tfVIychftqrmcuE5PsOwiaIwKWDenUSNekrcsA=" class="card-img-top" style="width:18rem">
  <div class="card-body">
    <h5 class="card-title">Book Review</h5>
    <p class="card-text">Start Your journey to see the books and do review.</p>
    <a href="#" class="btn btn-primary">Get Started</a>
  </div>
</div>

